:root{
    --primary:#F77D0A;
    --secondary:#2B2E4A;
    --text:#8486A0;
    --light: #F4F5F8;
    --dark: #1C1E32;
}

/******************** navbar ************************/
@media screen and (max-width:600px){
   .navbar-brand{
        font-size-adjust:.4;
    }
    .navbar{
        padding:0rem 2rem;
    
}
}
/******************** navbar ************************/