*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;

}
:root{
    --primary:#131316;
    --secondary:#2B2E4A;
    --text:#b0b1be;
    --light: #ffffff;
    --dark: #000000;
}
a{
    text-decoration: none;
    color:var(--dark);
    text-transform: uppercase;
}
/******************** navbar ************************/
.nav-bar{
    background-color: antiquewhite;
    
}
.navbar{
    padding:0rem 3rem;
}
.navbar-brand{
    font-size: 4.5rem;
    font-weight: 400;
}
#navbarNav{
    justify-content: flex-end;
}
.nav-link{
    font-size: 2rem;
    color: var(--dark);
    margin: .5rem 3rem 0rem 0rem;
}
/******************** navbar ************************/